<div class="left-menu" ng-controller="SidebarController as sidebar">
    <ul>
        <li><a ui-sref="dashboard" class="flex-start-center flex-row"><span class="icon icon1"></span><span>Dashboard</span></a></li>
        <li><a ng-href="campaigns" class="flex-start-center flex-row"><span class="icon icon2"></span><span>All Campaigns</span></a></li>
        <li><a ng-href="userAccount" class="flex-start-center flex-row"><span class="icon icon3"></span><span>User Account</span></a></li>
        <li><a ng-href="settings" class="flex-start-center flex-row"><span class="icon icon4"></span><span>System Settings</span></a></li>
        <!-- <li><a ng-href="adminAccount" class="flex-start-center flex-row"><span class="icon icon5"></span><span>Admin Account</span></a></li> -->
    </ul>
</div>