<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
    </div>
  </div>
  <div class="col-md-4" style="margin-top: 2em">
    Search Users
    <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
  </div>
  <div class="col-md-12 text-center">
    <div class="acc-holder">
      <ul>
        <li ng-repeat="user in vm.pagedItems">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-6 flex-start-center flex-row">
              <img ng-src="{{user.profileImageURL}}" alt="{{user.displayName}}" class="header-profile-image" alt=""/>
              <label>
                User Name: {{ user.username }}<br/>
                User Email: {{ user.email }}<br/>
                User Roles: {{ user.roles }}
                <!-- User Authorized Accounts: {{ user.accounts }} -->
              </label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 flex-end-center flex-row actions">
              <!-- <a href="#" class="btn btn-default btn-green-icon pull-right"><i class="fa fa-pencil" aria-hidden="true"></i>EDIT USER</a> -->
              <a href="#" ui-sref="admin.user({ userId: user_id })" class="btn btn-primary btn-green-icon pull-right">
                <!-- <button type="button" ng-show="management.editAccess" class="btn btn-primary">Edit</button> -->
                <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>VIEW USER
              </a>
              <!-- Delete Button -->
              <!-- <button type="button" ng-click="management.deleteUser(person.username);" ng-show="management.deleteAccess" class="btn btn-danger">Delete</button> -->
              <!-- ng-show="management.deleteAccess" -->
              <a href="#" ng-click="vm.remove(user);" class="btn btn-danger btn-red-icon pull-right">
                  <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>DELETE USER</a>  
              </a>
            </div>
          </div>
        </li>
      </ul>
      <!-- <div class="row">
        <div class="col-xs-12">
        <a href="#" class="btn btn-default btn-orange-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i>ADD AN ACCOUNT</a>
      </div> -->
    </div>
    <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>

  </div>
 
</section>
